.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.PlaneSVG{
  position: absolute;
  z-index: -10;
  pointer-events:none;

}
.handle{
  width: 100px;
  height: 50px;
  background-color: red;
  color: white;
  z-index: 10000;
  position: relative;
  cursor: move;
  cursor: grab;
}
.settings-box {
    position: fixed;
    right: 0;
    background: rgba(128, 128, 128, 0.9);
    border-radius: 4px;
    min-height: 100px;
    padding: 1em;
    z-index: 950000;
}
*{
  user-select: none;
}